@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: "Sligoil-Micro";
  src: url("../public/Sligoil-Micro.otf");
}

@font-face {
  font-family: "Facade-est";
  src: url("../public/Facade-Est.otf");
}

.custom-img3 {
  background-image: url('../public/mobilemenu.webp')
}